<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-xs-offset-1">
      <span class="bg-light px-2 h4">商品一覧</span>
      <%= link_to new_admin_item_path, class: "btn pull-right new_product" do %>
       <i class="fa fa-plus-circle fa-3x"></i>
      <% end %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="table-active">商品ID</th>
            <th class="table-active">商品名</th>
            <th class="table-active">税抜価格</th>
            <th class="table-active">ジャンル</th>
            <th class="table-active">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item) do %>
                <%= item.name %>
              <% end %>
              </td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.item_status == true %>
                <p class="text-success fw-bold">販売中</p>
              <% else %>
                <p class="text-secondary fw-bold">販売停止中</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center"><%= paginate @items %></div>
</div>
