<h1>商品新規登録</h1>
<%= form_with model: @item do |f| %>
  <div class="form-group">
   <%= f.label :image, "商品画像" %>
   <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, placeholder: "商品名" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "商品説明" %>
    <%= f.text_area :description, placeholder: "ここに説明文を記述します" %>
  <div class="form-group">
    <h4>ジャンル</h4>
  </div>
  <div class="form-group">
    <%= f.label :price, "税抜価格" %>
    <%= f.text_field :price, placeholder: "1000" %>円
  </div>
  <div class="form-group">
    <label><%= f.radio_button :item_status, TRUE, checked: TRUE %>販売中</label>
    <label><%= f.radio_button :item_status, FALSE %>販売停止中</label>
  </div>
  <div class="form-group">
   <%= f.submit "新規登録" %>
  </div>
<% end %>
