<div class="box1">
  <div class="box-inner">
    <h2>新規会員登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="box-name">
      <%= f.label :"名前" %><br/>
      <%= f.label :"(姓)" %>
      <%= f.text_field :last_name, autofocus: true, placeholder: "長野" %>
      <%= f.label :"(名)" %>
      <%= f.text_field :first_name, autofocus: true, placeholder: "景子" %>
    </div>
    <%= f.label :"フリガナ" %><br/>
    <div class="box-name-kana">
      <%= f.label :"(セイ)" %>
      <%= f.text_field :last_name_kana, autofocus: true, placeholder: "ナガノ" %>
      <%= f.label :"(メイ)" %>
      <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ケイコ" %>
    </div>
    <div class="box-email">
      <%= f.label :"メールアドレス(ハイフンなし)" %><br/>
      <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com"  %>
    </div>
    <div class="box-postal_code">
      <%= f.label :"郵便番号(ハイフンなし)" %><br/>
      <%= f.text_field :postal_code, autofocus: true, placeholder: "00000000"  %>
    </div>
    <div class="box-address">
      <%= f.label :"住所" %><br/>
      <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0" %>
    </div>
    <div class="box-phone_number">
      <%= f.label :"電話番号(ハイフンなし)" %><br/>
      <%= f.text_field :phone_number, autofocus: true, placeholder: "0000000000000" %>
    </div>
    <div class="box-password">
      <%= f.label :"パスワード(６文字以上)" %><br/>
      <%= f.password_field :password, autocomplete: "off", class: "password" %>
    </div>
    <div class="box-password">
      <%= f.label :"パスワード(確認用)" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "password_confirm" %>
    </div>
    <div class="box-signin">
      <%= f.submit "新規登録", class: "btn btn-success col-xs-3 col-xs-offset-5" %>
    </div>
    <% end %>
    <div>
    <h2>既に登録済みの方</h2>
    <p><%= link_to "こちら", new_customer_session_path %> からログインしてください。</p>
    </div>
  </div>
</div>
