<h2>注文情報入力</h2>
<%= form_with model: @order, url: public_orders_path, local:true do |f| %>
<p>支払い方法</p>
  <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
  <%= f.label :クレジットカード, class: "payment_method_label" %>
  <%= f.radio_button :payment_method, :銀行振り込み, checked: "checked" %>
  <%= f.label :銀行振り込み, class: "payment_method_label" %>
<p>お届け先</p>

  <%= f.radio_button :address_option, :"#{current_customer.address}", checked: "checked" %>
  <%= f.label :"ご自身の住所　〒#{current_customer.postal_code} #{current_customer.address}", class: "payment_method_label" %>
  <%= f.radio_button :address, :"#{current_customer.address}", checked: "checked" %>
  <%= f.label :"登録住所から選択〒#{current_customer.postal_code} #{current_customer.address}", class: "payment_method_label" %>



	<%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>

  <% end %>
